# Bootstrap Class
## The file returns a bootstrapped dataset

<h2 style='padding: 10px;color:green'>Original Dataset</h2>
<table class='table table-striped'> <thead> 
<tr>
<th>ID</th> 
<th>P</th> 
<th>Q</th>
<th>R</th>
<th>Class</th> 
</tr> 
</thead> 
<tbody> 
<tr> 
<th scope='row'>20</th> 
<td>0</td> 
<td>0</td> 
<td>1</td> 
<td>T</td> 
</tr>
<tr> 
<th scope='row'>21</th> 
<td>1</td> 
<td>0</td> 
<td>0</td> 
<td>F</td>
</tr> 
<tr> 
<th scope='row'>22</th> 
<td>2</td> 
<td>0</td> 
<td>0</td> 
<td>F</td> 
</tr>
<tr>
	<th scope="row">23</th>
	<td>1</td>
	<td>1</td>
	<td>2</td>
	<td>T</td>
</tr>
 </tbody> </table>

<h2 style='padding: 10px;color:lightblue;'>Bootstrap Dataset</h2>
<table class='table table-striped'> <thead> 
<tr>
<th>ID</th> 
<th>P</th> 
<th>Q</th>
<th>R</th>
<th>Class</th> 
</tr> 
</thead> 
<tbody> 
<tr> 
<th scope='row'>20</th> 
<td>0</td> 
<td>0</td> 
<td>1</td> 
<td>T</td> 
</tr>
<tr> 
<th scope='row'>22</th> 
<td>2</td> 
<td>0</td> 
<td>0</td> 
<td>F</td> 
</tr>
<tr> 
<th scope='row'>20</th> 
<td>0</td> 
<td>0</td> 
<td>1</td> 
<td>T</td> 
</tr>
<tr> 
<th scope='row'>22</th> 
<td>2</td> 
<td>0</td> 
<td>0</td> 
<td>F</td> 
</tr>
 </tbody> </table>

## <font color="lightgreen"><strong>Import Modules</strong> </font>

In [17]:
import pandas as pd
import numpy as np
import random

 <h3>Bootstrap Methods</h3>
 <h5><strong>Inputs:</strong><h5>
    <ul>
       <li>
           List of each individual row from the Dataframe
        </li>
        <li>
            Bootstrap Dataset
        </li>
    </ul>

In [18]:
def boot(rows,bdf):
    for x in range(len(rows)):
        bdf.loc[x] = random.choice(rows)
    return bdf

def verify_boot(rows,bdf,new_bdf):
    # We are going to verify if the bootstrap is different from the original
	##  If the num(trues) == num(rows) then original dataset = bootstrap
	# df['bag'] = np.where(df['ID'] == bdf['ID'],'True','False')
	check_list = np.unique(bdf['ID'])


	# Check if the bootstrap is the same as the original dataset
	while(len(check_list) >= nrows):
		new_bdf = boot(rows,bdf)

	return new_bdf

<h4 style="color:lightgreen">Run method </h4>

In [19]:
if __name__ == "__main__":
    df = pd.read_csv("rajin.csv",header=None,names=['ID','P','R','Q','Class'])

    # Bootstrap dataset
    # Python pointers are going to change df every time we change df
    #bdf = df
    bdf = pd.read_csv("rajin.csv",header=None,names=['ID','P','R','Q','Class'])

    #number of rows
    nrows = df.shape[0]
    rows = [df.iloc[x] for x in range(nrows)]
    new_bdf = boot(rows,bdf)
    new_bdf = verify_boot(rows,bdf,new_bdf)
    print(new_bdf)

   ID  P  R  Q Class
0  21  1  0  0     F
1  22  2  0  0     F
2  21  1  0  0     F
3  22  2  0  0     F

<h3 color="lightgreen">Easy Method </h3>

In [1]:
import pandas as pd
import numpy as np
import random

In [2]:
def easy_boot(dataset):
    return dataset.sample(frac=1,replace=True)

In [3]:
df = pd.read_csv("rajin.csv",header=None,names=['ID','P','R','Q','Class'])
easy_boot(df)

   ID  P  R  Q Class
0  20  0  0  1     T
1  21  1  0  0     F
2  22  2  0  0     F
2  22  2  0  0     F

<h3>Generate Random forests</h3>

In [4]:
def random_forest(dataset,num_trees):
	random_forest = []
	oobs = []
	for i in range(num_trees):
		random_forest.append(dataset.sample(frac=1,replace=True))
	oob = [x for x in dataset ]
	return random_forest

In [5]:
df = pd.read_csv("rajin.csv",header=None,names=['ID','P','R','Q','Class'])

In [6]:
random_forest(df,5)

[   ID  P  R  Q Class
 1  21  1  0  0     F
 2  22  2  0  0     F
 2  22  2  0  0     F
 2  22  2  0  0     F,
    ID  P  R  Q Class
 3  23  1  1  2     T
 2  22  2  0  0     F
 1  21  1  0  0     F
 0  20  0  0  1     T,
    ID  P  R  Q Class
 3  23  1  1  2     T
 2  22  2  0  0     F
 2  22  2  0  0     F
 1  21  1  0  0     F,
    ID  P  R  Q Class
 0  20  0  0  1     T
 2  22  2  0  0     F
 1  21  1  0  0     F
 3  23  1  1  2     T,
    ID  P  R  Q Class
 1  21  1  0  0     F
 0  20  0  0  1     T
 0  20  0  0  1     T
 1  21  1  0  0     F]